body{
    
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightblue;
    height: 100vh;
    margin: 0;
    font-size: 40px;
    
    font-family: 'Inkland';
    flex-direction: column
}

@font-face{
    font-family: 'Inkland', sans-serif;
    src: url('../fonts/Inkland.ttf')format('truetype')
}